body {
    background-color: #1b1b1b;
    color: #ffe6e6;
    font-family: Arial, sans-serif;
}

.container {
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    width: 50%;
    background-color: #3e2723;
    border-radius: 10px;
}

h1 {
    color: white;
}

form {
    margin-top: 20px;
}

label {
    display: block;
    margin: 10px 0 5px;
    color: #ff4d4d;
}

input[type="text"] {
    width: 100%;
    padding: 8px;
    margin: 5px 0 20px;
    border: 1px solid #ccc;
    border-radius: 15px;
}

input[type="submit"] {
    background-color: #ff4d4d;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 14px 2px;
    cursor: pointer;
    border-radius: 5px;
}

a {
    color: #ff4d4d;
    text-decoration: none;
    font-weight: bold;
}
